/* CSS Document */

/* combat simulator */
body { background:url(../images/battle-sim-bg.jpg) no-repeat 0 0 #000; }
div { z-index:1; position:relative; }
.combatSim { width:940px; margin:auto; background:url(../images/combat-sim-bg.png) repeat-y 0 0; border-radius:13px; }
#armyChoice { width:200px; float:left; margin:5px; }
#opparmyChoice { width:200px; float:right; margin:5px; color:#fff; }
#unitChoice, #oppunitChoice { width:200px; min-height:24px; text-align:center; }
#unitOptions { width:200px; display:block; }
#oppunitOptions { width:200px; display:block; color:#fff; }
.count { width:200px; }
.oppcount { width:200px; }
#fight { width:100px; text-align:center; margin:auto; padding:20px; }
#fightButton { padding:10px; font-weight:bold; color:#fff;  border-radius:10px; background:#333; margin-top:-20px; -webkit-box-shadow:inset 0 0 10px 0 #000; box-shadow:inset 0 0 10px 0 #000; }

.clearer { clear:both; }

table { margin:auto; }
table td { background-color: rgba(255, 255, 255,0.7); padding: 2px 6px; }
tr.armor { color:#09556b; }
tr.parry { color:#690; }
tr.ward { color:#009; }
tr.regen { color:#f33; }
td.label { text-align:right; font-weight:bold; }
td.value { text-align:left; padding-left:4px;}

.draw-box { width:520px; float:left; }
#fight-intro.display { text-align:center; margin:5px 20px; font-size:1.2em; font-weight:bold; background:#fff; border-radius:12px; padding:5px; -webkit-box-shadow:inset 0 0 10px 0 #000; box-shadow:inset 0 0 10px 0 #000; border:1px solid #555; }
#fight-conclusion.display { text-align:center; margin:5px 20px; padding:5px; font-size:1.2em; background:#fff; border-radius:12px; -webkit-box-shadow:inset 0 0 10px 0 #000; box-shadow:inset 0 0 10px 0 #000; border:1px solid #555; }
#fight-text-top, #fight-text-bottom { float:left; width:175px; }
#draw-ranks-top, #draw-ranks-bottom { padding-top:40px; min-width:240px; float:left; text-align:center; }
#draw-icons-top, #draw-icons-bottom { padding-top:40px; float:right; width:105px; text-align:left; }

h2 { font-size: 1.2em; line-height:1em; text-align:center; margin:4px 6px; border-bottom:1px solid #666; font-weight:normal;}

#armyIcon, #oppArmyIcon { padding-top:10px; text-align:center; }
#armyIcon img, #oppArmyIcon img { border:1px solid #333; }

.choice-button {  margin:2px 8px; background:#444; border-radius:14px; border:1px solid #D0D0D0; overflow:auto; color:#fff }
.choice-button label span { text-align:center; padding:3px 0px; display:block; }
.choice-button label input { position:absolute; top:-20px; }
.choice-button input:checked + span { color:#fff; background: #a80306;
background: -moz-linear-gradient(top,  #a80306 0%, #8e0205 44%, #6b0001 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a80306), color-stop(44%,#8e0205), color-stop(100%,#6b0001));
background: -webkit-linear-gradient(top,  #a80306 0%,#8e0205 44%,#6b0001 100%);
background: -o-linear-gradient(top,  #a80306 0%,#8e0205 44%,#6b0001 100%);
background: -ms-linear-gradient(top,  #a80306 0%,#8e0205 44%,#6b0001 100%);
background: linear-gradient(to bottom,  #a80306 0%,#8e0205 44%,#6b0001 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80306', endColorstr='#6b0001',GradientType=0 );
-webkit-box-shadow:inset 0 0 10px 0 #000; box-shadow:inset 0 0 10px 0 #000;
 }
 
.army-select { text-align:center; }
.army-select select, #unitChoice select, #oppunitChoice select { display:block; margin:2px 8px; background:#444; border-radius:14px; border:1px solid #D0D0D0; color:#fff; text-align:center; width:180px; padding:5px; font-size:1em; }
.count select { display:none; margin:2px 8px; background:#444; border-radius:14px; border:1px solid #D0D0D0; color:#fff; text-align:center; width:180px; padding:5px; font-size:1em; }
.count span { text-align:center; font-weight:bold; }
#unitcount1-text { display:none; }
#unitwidth1-text { display:none; }
#unitcount2-text { display:none; }
#unitwidth2-text { display:none; }
.oppcount select { display:none; margin:2px 8px; background:#444; border-radius:14px; border:1px solid #D0D0D0; color:#fff; text-align:center; width:180px; padding:5px; font-size:1em; }
.oppcount span { text-align:center; font-weight:bold; }
.army-select select:selected { background:#fff; }
.army-select option, #unitChoice option, #oppunitChoice option { margin:2px 4px; background:#444; border:1px solid #D0D0D0; color:#fff; text-align:center; font-size:1em; }

.count input, .oppcount input { width:180px; text-align:center; color:#fff; background:#444; border-radius:14px; border:1px solid #D0D0D0; margin:3px; padding:5px; font-size:1em; }

