/* CSS Document */

/* combat simulator */
body { background:url(../images/battle-sim-bg.jpg) no-repeat 0 0 #000; }
div { z-index:1; position:relative; }
.combatSim { width:940px; margin:auto; background:url(../images/combat-sim-bg.png) repeat-y 0 0; border-radius:13px; }
#armyChoice { width:200px; float:left; margin:5px; }
#opparmyChoice { width:200px; float:right; margin:5px; color:#fff; }
#unitChoice, #oppunitChoice { width:200px; min-height:24px; }
#unitOptions { width:200px; display:block; }
#oppunitOptions { width:200px; display:block; color:#fff; }
.count { width:200px; }
.oppcount { width:200px; }
#fight { width:100px; text-align:center; margin:auto; padding:20px; }
#fightButton { padding:10px; font-weight:bold; color:#fff;  border-radius:10px; background:url(images/death.jpg) no-repeat #333; margin-top:-20px; }

.clearer { clear:both; }

table { margin:auto; }
table td { background-color: rgba(255, 255, 255,0.7); padding: 2px 6px; }
tr.armor { color:#09556b; }
tr.parry { color:#690; }
tr.ward { color:#009; }
tr.regen { color:#f33; }
td.label { text-align:right; font-weight:bold; }
td.value { text-align:left; padding-left:4px;}

.draw-box { width:520px; float:left; }
#fight-intro { text-align:center; margin:5px 20px; font-size:1.2em; font-weight:bold; background:#fff; border-radius:12px; padding:4px; }
#fight-conclusion { text-align:center; margin:5px 20px; font-size:1.2em; background:#fff; border-radius:12px; }
#fight-text-top, #fight-text-bottom { float:left; width:175px; }
#draw-ranks-top, #draw-ranks-bottom { padding-top:40px; min-width:240px; float:left; text-align:center; }
#draw-icons-top, #draw-icons-bottom { padding-top:40px; float:right; width:105px; text-align:left; }

h2 { font-size: 1.2em; line-height:1em; text-align:center; margin:4px 6px; border-bottom:1px solid #666; font-weight:normal;}

#armyIcon, #oppArmyIcon { padding-top:10px; text-align:center; }
#armyIcon img, #oppArmyIcon img { border:1px solid #333; }



input[type=checkbox] {
	visibility: hidden;
}


/* SQUARED THREE */
.squaredThree {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
