@charset "utf-8";
/* CSS Document */

/* combat simulator */
body { background:#fff; }

#armyChoice { width:200px; float:left; }
#opparmyChoice { width:200px; float:left; }
#unitChoice { width:200px; float:left; min-height:24px; }
#oppunitChoice { width:200px; float:left; }
#unitOptions { width:200px; float:left; display:block; }
#oppunitOptions { width:200px; float:left; display:block; }
.count { width:200px; float:left; }
.oppcount { width:200px; float:left; }
#fight { width:100px; text-align:center; padding:10px; }

.clearer { clear:both; }

table td { text-align:center; border:1px #d1d1d1 solid; padding:1px; }
.armorSaves { color:#333; }
.parrySaves { color:#690; }
.wardSaves { color:#009; }
.regenSaves { color:#F00; }

.draw-box { min-width:400px; max-width:100%; }
#fight-text-top, #fight-text-bottom { float:left; width:200px; }
#draw-ranks-top, #draw-ranks-bottom { padding-top:40px; min-width:250px; float:left; text-align:center; }
#draw-icons-top, #draw-ranks-bottom { padding-top:40px; float:left; max-width:200px; }

h2 { font-size: 1.2em; line-height:1em; }