@charset "utf-8";
/* CSS Document */

body { background:url(../images/terrain-gen-bg.jpg) no-repeat #000; color:#fff; width:100%; margin:auto; padding-top:20px;  }
.buttons { float:left; text-align:right; width:25%; margin:0; }
.buttons button { background-color: rgba(255, 255, 255,0.7); width:24%px; margin:3px 0; padding:3px 0; border-radius: 15px; font-weight:bold; min-width:240px; }
#results_pane { border:1px solid #d1d1d1; width:60%px; float:left; padding:10px; background-color: rgba(0, 0, 0,0.7); margin-left:1px; min-width:400px; max-width:660px; }
h2 { font-size:1.1em; text-decoration:underline; }
#title { font-weight:bold; text-align:center; font-size:1.2em; margin-bottom:-10px; margin-top:5px; line-height:.6em; padding:10px 0; }
#scenario { border-bottom:1px solid #999; }
#results { margin:10px 0; }
#forest { border-top:1px solid #999; }
.combat-sim-button img { border:1px solid #000; }
